.commentList {
  padding: 40px;
}

.commentList th {
  text-align: left;
}

.commentList th,
.commentList td {
  padding: 0 10px 10px 10px;
}

.commentList .selected span {
  padding: 0 5px;
  font-weight: bold;
}
